

  ul, li {
      padding: 0;
      margin: 0;
      list-style: none;
  }
  
  ul.slider{
    position: relative;
    width: 800px;
    height: 270px;
  }
  
  ul.slider li {
      position: absolute;
      left: 0px;
      top: 0px;
      opacity: 0;
      width:inherit;
      height:inherit;
      transition: opacity .5s;
  }
  
  ul.slider li {
    width: 100rem;
    height:330px;
    object-fit: cover;
  }
  
  ul.slider li:first-child {
      opacity: 1; /*Mostramos el primer <li>*/
  }
  
  ul.slider li:target {
      opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
  }
  
  .menu{
    text-align: center;
    margin: 100px;
  }
  
  .menu li{
    display: inline-block;
    text-align: center;
  }
  
  .menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: rgb(1, 2, 3);
    padding: 10px;
    width: 30px;
    height: 30px;
    font-size: 15px;
    border-radius: 100%;
    font-family: "Sweet Chili";
  }
  .img{
    padding: 5px;
      text-align: center;
      width: 1300px;
      height: 350px;
  }